{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row">
    <div class="col-2">
        <h2>Python Basics</h2>
        {% include 'basics/navbar.html' %}
    </div>
    <div class="col-10">
        <h3>Installing Python</h3>
        <p>Windows</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IrkMIfXKK10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}